* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #7be0dd;
}

.color {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hex {
    text-transform: uppercase;
    color: #101010;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    margin: 20px;
}

#btn {
    width: 200px;
    height: 50px;
    border-top: 2px solid #101010;
    border-bottom: 2px solid #101010;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color: #101010;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}


